{% extends 'base.html' %}

{% block title %}О нас - Природа горного Алтая{% endblock %}

{% block content %}
<div class="accordion" id="accordionExample">
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Гора Белуха
            </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <p>Через массив Белухи проходит граница России и Казахстана. Со склонов горы берёт начало река Катунь. Район Белухи расположен на границе зон 7-8-балльной сейсмической активности. Микроземлетрясения здесь очень часты. Следствия их — ломка ледяного панциря, сход лавин и обвалов. С палеогена территория испытывает интенсивное тектоническое поднятие, которое продолжается и ныне. Сегодня в районе Белухи находятся популярные пешие, конные и альпинистские туристические маршруты, известные как в России, так и за рубежом. На вершину Восточной Белухи проще всего подниматься с юга, категория 3А, чуть сложнее — от Томских стоянок через перевал Делоне и ледник Менсу, ещё сложнее — через вершину Делоне. Самый быстрый, но сложный и опасный вариант — подъём на Белуху по Аккемской стене, категория 3Б туристская, 4А—4Б альпинистская.</p>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Река Катунь
            </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <p>По общему характеру долины, река делится на три участка:

                    Верхняя Катунь — от истока до реки Коксы, длиной 186 км. Здесь река огибает Катунский хребет с южной и западной сторон и обладает наибольшими уклонами с общим падением до 1000 м. На этом участк е Катунь принимает множество притоков с южного и западного склонов Катунского хребта, а также с хребтов Листвяга и Холзун.

                    Средняя Катунь — от Коксы до реки Большой Сумульты, длиной 206 км. Катунь проходит в области высоких горных хребтов. Общее падение на этом участке — около 400 метров. Здесь в реку впадают главнейшие притоки с ледниковым питанием: Мульта, Кураган, Кучерла, Аккем, Аргут и Чуя. Ниже посёлка Тюнгур до реки Аргут Катунь течёт в порожистом ущелье. От Аргута до реки Чуя и несколько ниже, она протекает среди высоких террас и бомов.

                    Нижняя Катунь — от Большой Сумульты до слияния с Бией, длиной 296 км.На этом участке Катунь располагается в области среднегорья и низкогорья. Общее падение реки — около 400 м. Преобладающий характер долины — всё более широкое развитие террас. Из притоков на этом участке наиболее значительными являются реки Чемал и Сема. Ниже села Майма Катунь приобретает характер степной реки. Общее падение водотока от истока до устья — 2000 м, чем и определяется большая скорость течения — 5−6 м/сек.</p>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Телецкое озеро
            </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <p>Средний уровень зеркала озера располагается на абсолютной высоте 434 м. Озеро занимает шестое место в России среди самых глубоких озёр. Протяжённость 77,8 км, средняя ширина 2,9 км, максимальная ширина составляет 5,2 км. Северная часть вытя
                    нута в широтном направлении; южная, сделав поворот почти на 90 градусов, — в меридиональном.

                    Площадь Телецкого озера относительно невелика — 223 км², однако благодаря большой глубине (средняя глубина озера 174 м, максимальная 325 м — напротив водопада Корбу) в нём содержится огромное количество пресной воды.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
